@charset "UTF-8";
/*Fontes*/
@font-face {
  font-family: fonte-header;
  src: url("../Fontes/Naturaly.otf");
}
@font-face {
  font-family: fonte-titulo;
  src: url("../Fontes/Maria_lucia.ttf");
}
/*Estilos Globais*/
* {
  margin: 0;
  padding: 0;
}
/*Header e Cabeçalho com menu*/
header {
  font-size: 2em;
  font-family: fonte-header, sans-serif;
}
.cabecalho {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 4px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #daa520;
  gap: 10px;
}
.cabecalho-imagem {
  display: flex;
}
.cabecalho-imagem img {
  width: 120px;
  padding: 4px 0px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px #000000;
}
.cabecalho-menu,
a {
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  padding: 2px;
}
a:hover {
  border: 1px solid #daa520;
  background-color: #daa520;
  border-radius: 3px;
  padding: 2px;
  font-weight: bold;
  color: #fff;
}
/*Título*/
#titulo {
  margin: 7px auto;
  text-align: center;
  font-family: fonte-titulo;
  font-size: 2.5em;
}
/*Conteúdo Principal*/
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: url('../Imagens/imagemFundoMain.jpg');
  background-position: right center;
  background-size: contain;
  background-repeat: repeat-x;
}
.slider {
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  border-radius: 3px;
}
.slides {
  width: 400%;
  height: 400px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 25%;
  position: relative;
}
.slide img {
  width: 800px;
  height: 100%;
}
.manualNavegacao {
  position: absolute;
  width: 800px;
  margin-top: 370px;
  display: flex;
  justify-content: center;
}
.manualBtn {
  border: 2px solid #FF0000	;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manualBtn:not(:last-child) {
  margin-right: 10px;
}
.manualBtn:hover {
  background-color: #FFFF00;
}

#radio1:checked ~ #primeiro{
  margin-left: 0%;
}

#radio2:checked ~ #primeiro{
  margin-left: -25%;
}

#radio3:checked ~ #primeiro{
  margin-left: -50%;
}

#radio4:checked ~ #primeiro{
  margin-left: -75%;
}

.navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  margin: 370px auto 0px 300px;
  border: 1px solid red;
}
.navegacao-manual {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
/*Media do Cabeçalho e Menu*/
@media (max-width: 480px) {
  .cabecalho {
    flex-flow: column wrap;
  }
}
@media (max-width: 480px) {
  .cabecalho-imagem {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .cabecalho-menu,
  a {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9em;
    gap: 0.37px;
  }
}
@media (max-width: 600px) {
  #titulo {
    font-size: 1.7em;
  }
}
@media (max-width: 600px) {
  .slider {
    margin: 0 auto;
    width: 400px;
    height: 100px;
    overflow: hidden;
    border-radius: 3px;
  }
}
