@charset "UTF-8";
/*Fontes*/
@font-face {
  font-family: fonte-header;
  src: url("../Fontes/Naturaly.otf");
}
@font-face {
  font-family: fonte-titulo;
  src: url("../Fontes/Maria_lucia.ttf");
}
/*Estilos Globais*/
* {
  margin: 0;
  padding: 0;
}
/*Header e Cabeçalho com menu*/
header {
  font-size: 2em;
  font-family: fonte-header, sans-serif;
}
.cabecalho {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 4px;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #daa520;
  gap: 10px;
}
.cabecalho-imagem {
  display: flex;
}
.cabecalho-imagem img {
  width: 120px;
  padding: 4px 0px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px #000000;
}
.cabecalho-menu,
a {
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  padding: 2px;
}
a:hover {
  border: 1px solid #daa520;
  background-color: #daa520;
  border-radius: 3px;
  padding: 2px;
  font-weight: bold;
  color: #fff;
}
/*Título*/
#titulo {
  margin: 7px auto;
  text-align: center;
  font-family: fonte-titulo;
  font-size: 2.5em;
}
/*Conteúdo Principal*/
/*Media do Cabeçalho e Menu*/
@media (max-width: 480px) {
  .cabecalho {
    flex-flow: column wrap;
  }
}
@media (max-width: 480px) {
  .cabecalho-imagem {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .cabecalho-menu,
  a {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.9em;
    gap: 0.37px;
  }
}
@media (max-width: 600px) {
  #titulo {
    font-size: 1.7em;
  }
}